#main-view-container
{
	position: absolute;
	border: 1px #1b038a solid;
	top: 100px;
	bottom: 0px;
	left: 200px;
	right: 0px;
	background: black;
	overflow: hidden;
}
.heat-map-container
{
	transition: 500ms ease-in-out left;
	position: absolute;
	top: 0;
	bottom: 0;
	left: -100%;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
.heat-map-container.selected
{
	left: 0;
}
.graph-view-container
{
	transition: 500ms ease-in-out left;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 100%;
	width: 100%;
	background: #8bbdbc;
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
.graph-view-container.selected
{
	left: 0;
}
.main-view
{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: black;
	overflow: hidden;
}
.map-container
{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: black;
	overflow: scroll;
}
