/* ---- general ---- */
.container
{
	padding: 10px;
}
button {
	border-radius: 4px;
	cursor: pointer;
	border: 1px solid #1b038a;
}
button:hover {
	box-shadow: #1b038a 0px 0px 10px;
}
/* ---- top-panel ---- */
#top-panel
{
	position: absolute;
	border: 1px #1b038a solid;
	top: 0;
	left: 0;
	right: 0;
	height: 100px;
	background: #8bbdbc;
}
.logo {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 36px;
	line-height: 36px;
	color: #1b038a;
	letter-spacing: 2px;
	text-shadow: 4px 4px #6556ad;
}
.cal {
	position: relative;
	height: 10px;
	top: 44px;
	border-right: 1px #1b038a solid;
	border-bottom: 1px #1b038a solid;
	margin: auto;
}
.period {
	position: absolute;
	bottom: 0;
	height: 10px;
	border-left: 1px #1b038a solid;
}
.period::before {
	content: "";
	position: absolute;
	left: 0px;
	right: 0px;
	height: 30px;
	background-size: 30px 30px;
	background-image: url("../svgs/all/rain.svg");
	bottom: -38px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.period.hot-period::before {
	background-image: url("../svgs/all/sun.svg");
}
.day {
	position: absolute;
	bottom: 20px;
	font-size: 16px;
	color: #1b038a;
	width: 100px;
	margin-left: -50px;
	text-align: center;
}
.day::before {
	content: "";
	position: absolute;
	bottom: -21px;
	left: 50px;
	height: 20px;
	width: 1px;
	background: #1b038a;
}
.main-status {
	margin-left: 10px;
	color: #1b038a;
}
.play-pause {
	margin: 10px;
	display: inline-block;
	width: 40px;
	height: 40px;
	background-size: 30px 30px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url("../svgs/all/play-button-arrowhead.svg");
}
.play-pause.playing {
	background-image: url("../svgs/all/pause.svg");
}
.next-day {
	margin: 5px 10px;
	display: inline-block;
	width: 30px;
	height: 30px;
	background-size: 25px 25px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url("../svgs/all/24-hours.svg");
}
.next-month {
	margin: 5px 10px;
	display: inline-block;
	width: 30px;
	height: 30px;
	background-size: 25px 25px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url("../svgs/all/calendar.svg");
}

.tabs-view {
	font-size: 0;
	overflow: hidden;
	position: absolute;
	bottom: 10px;
	right: 10px;
	border: 1px #1b038a solid;
	border-radius: 6px;
}
.tabs-view>* {
	display: inline-block;
	cursor: pointer;
	background-color: #e2e2e2;
	width: 35px;
	height: 35px;
	background-size: 25px 25px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.tabs-view>*:not(:first-child) {
	border-left: 1px #1b038a solid;
}
.tabs-view>*:hover{
	background-color: #fff;
}
.tabs-view>*.selected{
	pointer-events: none;
	box-shadow: inset #1b038a 0px 0px 10px;
	background-color: #fff;
}
.heat-map {
	background-image: url("../svgs/all/radar.svg");
}
.normal-map {
	background-image: url("../svgs/all/planet-earth.svg");
}
.graph-view {
	background-image: url("../svgs/all/statistics.svg");
}

/* ---- side-bar ---- */
#side-bar
{
	position: absolute;
	border: 1px #1b038a solid;
	top: 100px;
	bottom: 0;
	left: 0;
	width: 200px;
	background: #8bbdbc;
}
.kpi-img {
	margin-right: 5px;
	float: left;
	display: inline-block;
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
}
.kpi-img.egg {
	background-image: url("../svgs/all/eggs.svg");
}
.kpi-img.lar {
	background-image: url("../svgs/all/larvae.svg");
}
.kpi-img.pup {
	background-image: url("../svgs/all/popae.svg");
}
.kpi-img.cash {
	background-image: url("../svgs/all/money.svg");
}
.kpi-img.pud {
	background-image: url("../svgs/all/black-lake.svg");
}
.kpi-img.pop {
	background-image: url("../svgs/all/multiple-users-silhouette.svg");
}
.kpi-img.hos {
	background-image: url("../svgs/all/black-house.svg");
}
.kpi-img.ill {
	background-image: url("../svgs/all/red-men.svg");
	/*background-image: url("../svgs/all/ill.svg");*/
}
.kpi-img.mos {
	background-image: url("../svgs/all/mosquito.svg");
}
.kpi-img.ill-mos {
	background-image: url("../svgs/all/red-mosquito.svg");
}
.kpi-img.id {
	background-image: url("../svgs/all/dog-tag.svg");
}
.kpi-img.sprayed {
	background-image: url("../svgs/all/black-spray.svg");
}
.kpi-txt {
	display: block;
	line-height: 30px;
	color: #1b038a;
	margin-bottom: 10px;
}.kpi-txt.warning {
	color: #b80000;
}

.data-container.container
{
	padding-bottom: 0;
	border-bottom: 1px #1b038a solid;
}
.actions-container {
	position: relative;
}
.selected-panel {
	color: #1b038a;
	position: absolute;
	transition: 0.5s ease-in-out left;
	/*border: 1px #1b038a solid;*/
	box-shadow: 0 0 10px #1b038a;
	top: 0;
	bottom: 0;
	z-index: 1;
	/*height: 350px;*/
	left: -220px;
	width: 200px;
	background: #84e6e3;
}
.selected-panel.show-selected {
	left: 0;
}
.big-img {
	position: relative;
	height: 100px;
	background: white;
}
.big-img>* {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: 0.5s ease-in-out opacity;
	opacity: 0;
	background-size: cover;
}
.p-s-img {
	background-image: url("../imgs/big-puddle.jpg");
}
.p-w-img {
	background-image: url("../imgs/small-puddle.jpg");
}
.h-img {
	background-image: url("../imgs/hut.jpg");
}
.selected-house .h-img {
	opacity: 1;
}
.selected-puddle.strong-puddle .p-s-img {
	opacity: 1;
}
.selected-puddle.weak-puddle .p-w-img {
	opacity: 1;
}
.selected-title {
	font-size: 18px;
	padding-bottom: 10px;
}
.selected-house .pud-container {
	display: none;
}
.selected-puddle .hos-container {
	display: none;
}
.search-drone {
	background-image: url("../svgs/all/drone.svg");
}
.search-satellite {
	background-image: url("../svgs/all/satellite.svg");
}
.search-puddles {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 40px;
	background-position: 5px 50%;
	background-repeat: no-repeat;
	background-size: 35px 35px;
}
.search-puddles::before {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	top: 0px;
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: 45px 50%;
}
.search-in::before {
	background-image: url("../svgs/all/village.svg");
}
.search-out::before {
	background-image: url("../svgs/all/jungle.svg");
}
.spray-item {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	background-image: url("../svgs/all/spray-bottle.svg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 35px 35px;
}
.dry-puddle {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	background-image: url("../svgs/all/hoe.svg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 35px 35px;
}
.spray {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 40px;
	background-image: url("../svgs/all/spray-bottle.svg");
	background-position: 5px 50%;
	background-repeat: no-repeat;
	background-size: 35px 35px;
}
.spray::before {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	top: 0px;
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: 45px 50%;
}
.s-puddle::before {
	background-image: url("../svgs/all/black-lake.svg");
}
.s-house::before {
	background-image: url("../svgs/all/black-house.svg");
}
.cost {
	margin-left: 5px;
	vertical-align: top;
	line-height: 40px;
	color: #1b038a;
}
.action.disabled .cost {
	color: #b80000;
}
.disabled button, .loading button:not(.enable-during-loading), .loading .disable-on-loading{
	pointer-events: none;
	opacity: 0.3;
}
/* ---- main-view-container ---- */
#main-view-container
{
	position: absolute;
	border: 1px #1b038a solid;
	top: 100px;
	bottom: 0px;
	left: 200px;
	right: 0px;
	background: black;
	/*overflow: scroll;*/
	overflow: hidden;
}
.heat-map-container
{
	transition: 500ms ease-in-out left;
	/*overflow: hidden;*/
	position: absolute;
	top: 0;
	bottom: 0;
	left: -100%;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
.heat-map-container.selected
{
	left: 0;
}
.graph-view-container
{
	transition: 500ms ease-in-out left;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 100%;
	width: 100%;
	background: #8bbdbc;
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
.graph-view-container.selected
{
	left: 0;
}
.main-view
{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: black;
	/*overflow: scroll;*/
	overflow: hidden;
}
.map-container
{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: black;
	overflow: scroll;
}
.big-map
{
	position: relative;
	background: #3b8025;
}
.big-map.hot-period {
	background: #b7a51a;
}
.map-item {
	transition: 0.4s ease-in-out transform;
	cursor: pointer;
	position: absolute;
	width: 26px;
	height: 26px;
	margin-left: -13px;
	margin-top: -13px;
	background-size: 26px 26px;
}
.map-item:hover {
	transform: scale(1.3);
}
.map-item.selected {
	 transform: scale(1.6);
}
.house {
	background-image: url("../svgs/all/wood-house.svg");
}
.puddle {
	background-image: url("../svgs/all/lake.svg");
}
.spry {
	position: absolute;
	width: 26px;
	height: 26px;
	top: 0;
	left: 0;
	background-size: 26px 26px;
}
.puddle .spry {
	background-image: url("../svgs/all/mmm.svg");
}
.house .spry {
	background-image: url("../svgs/all/nnn.svg");
}
.puddle[data-state="2"]
{
	background-image: url("../svgs/all/strong-lake.svg");
}
.puddle[data-state="0"]
{
	display: none;
}
.mosquito {
	position: absolute;
	width: 1px;
	height: 1px;
	background-color: rgba(200, 0, 0, 0.7);
	box-shadow: 0 0 5px rgb(200, 0, 0);
}
