/* ---- general ---- */
.container
{
	padding: 10px;
}
button {
	border-radius: 4px;
	cursor: pointer;
	border: 1px solid #1b038a;
}
button:hover {
	box-shadow: #1b038a 0px 0px 10px;
}
/* ---- top-panel ---- */
#top-panel
{
	position: absolute;
	border: 1px #1b038a solid;
	top: 0;
	left: 0;
	right: 0;
	height: 100px;
	background: #8bbdbc;
}
.cal {
	position: relative;
	height: 10px;
	top: 44px;
	border-right: 1px #1b038a solid;
	border-bottom: 1px #1b038a solid;
	margin: auto;
}
.period {
	position: absolute;
	bottom: 0;
	height: 10px;
	border-left: 1px #1b038a solid;
}
.period::before {
	content: "";
	position: absolute;
	left: 0px;
	right: 0px;
	height: 30px;
	background-size: 30px 30px;
	background-image: url("../svgs/all/rain.svg");
	bottom: -38px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.period.hot-period::before {
	background-image: url("../svgs/all/sun.svg");
}
.day {
	position: absolute;
	bottom: 20px;
	font-size: 16px;
	color: #1b038a;
	width: 100px;
	margin-left: -50px;
	text-align: center;
}
.day::before {
	content: "";
	position: absolute;
	bottom: -21px;
	left: 50px;
	height: 20px;
	width: 1px;
	background: #1b038a;
}
.main-status {
	margin-left: 10px;
	color: #1b038a;
}
.play-pause {
	margin: 10px;
	display: inline-block;
	width: 40px;
	height: 40px;
	background-size: 30px 30px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url("../svgs/all/play-button-arrowhead.svg");
}
.play-pause.playing {
	background-image: url("../svgs/all/pause.svg");
}
.next-day {
	margin: 5px 10px;
	display: inline-block;
	width: 30px;
	height: 30px;
	background-size: 25px 25px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url("../svgs/all/24-hours.svg");
}
.next-month {
	margin: 5px 10px;
	display: inline-block;
	width: 30px;
	height: 30px;
	background-size: 25px 25px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url("../svgs/all/calendar.svg");
}
/* ---- side-bar ---- */
#side-bar
{
	position: absolute;
	border: 1px #1b038a solid;
	top: 100px;
	bottom: 0;
	left: 0;
	width: 200px;
	background: #8bbdbc;
}
.kpi-img {
	margin-right: 5px;
	float: left;
	display: inline-block;
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
}
.kpi-img.egg {
	background-image: url("../svgs/all/eggs.svg");
}
.kpi-img.lar {
	background-image: url("../svgs/all/larvae.svg");
}
.kpi-img.pup {
	background-image: url("../svgs/all/popae.svg");
}
.kpi-img.cash {
	background-image: url("../svgs/all/money.svg");
}
.kpi-img.pud {
	background-image: url("../svgs/all/black-lake.svg");
}
.kpi-img.pop {
	background-image: url("../svgs/all/multiple-users-silhouette.svg");
}
.kpi-img.hos {
	background-image: url("../svgs/all/black-house.svg");
}
.kpi-img.ill {
	background-image: url("../svgs/all/red-men.svg");
	/*background-image: url("../svgs/all/ill.svg");*/
}
.kpi-img.mos {
	background-image: url("../svgs/all/mosquito.svg");
}
.kpi-img.ill-mos {
	background-image: url("../svgs/all/red-mosquito.svg");
}
.kpi-txt {
	display: block;
	line-height: 30px;
	color: #1b038a;
	margin-bottom: 10px;
}.kpi-txt.warning {
	color: #b80000;
}

.data-container.container
{
	padding-bottom: 0;
	border-bottom: 1px #1b038a solid;
}
.actions-container {
	position: relative;
}
.selected-panel {
	color: #1b038a;
	position: absolute;
	transition: 0.5s ease-in-out left;
	/*border: 1px #1b038a solid;*/
	box-shadow: 0 0 10px #1b038a;
	top: 0px;
	/*bottom: 0;*/
	height: 350px;
	left: -220px;
	width: 180px;
	padding: 10px;
	background: #84e6e3;
}
.selected-panel.show-selected {
	left: 0;
}
.selected-title {
	font-size: 18px;
}
.selected-sub-title {
	font-size: 15px;
}
.selected-house .pud-container {
	display: none;
}
.selected-puddle .hos-container {
	display: none;
}
.search-puddles {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 40px;
	background-position: 5px 50%;
	background-repeat: no-repeat;
	background-image: url("../svgs/all/drone.svg");
	background-size: 35px 35px;
}
.search-puddles::before {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	top: 0px;
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: 45px 50%;
}
.search-in::before {
	background-image: url("../svgs/all/village.svg");
}
.search-out::before {
	background-image: url("../svgs/all/jungle.svg");
}
.spray-item {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	background-image: url("../svgs/all/spray-bottle.svg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 35px 35px;
}
.spray {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 40px;
	background-image: url("../svgs/all/spray-bottle.svg");
	background-position: 5px 50%;
	background-repeat: no-repeat;
	background-size: 35px 35px;
}
.spray::before {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	top: 0px;
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: 45px 50%;
}
.s-puddle::before {
	background-image: url("../svgs/all/black-lake.svg");
}
.s-house::before {
	background-image: url("../svgs/all/black-house.svg");
}
.cost {
	margin-left: 5px;
	vertical-align: top;
	line-height: 40px;
	color: #1b038a;
}
.action.disabled .cost {
	color: #b80000;
}
.disabled button, .loading button:not(.enable-during-loading){
	pointer-events: none;
	opacity: 0.3;
}
/* ---- map-container ---- */
#map-container
{
	position: absolute;
	border: 1px #1b038a solid;
	top: 100px;
	bottom: 0px;
	left: 200px;
	right: 0px;
	background: black;
	overflow: scroll;
}
.map
{
	position: relative;
	background: #3b8025;
}
.map.hot-period {
	background: #b7a51a;
	/*background: #a58433;*/
}
/*.selected {*/
/*	box-shadow: 0 0 20px rgb(255,255,55), inset 0 0 10px rgba(255,255,55,0.5);*/
/*}*/
.map-item {
	transition: 0.4s ease-in-out transform;
	cursor: pointer;
	position: absolute;
	width: 26px;
	height: 26px;
	margin-left: -13px;
	margin-top: -13px;
	background-size: 26px 26px;
}
.map-item:hover {
	transform: scale(1.3);
}
.map-item.selected {
	 transform: scale(1.6);
}
.house {
	background-image: url("../svgs/all/wood-house.svg");
}
.puddle {
	background-image: url("../svgs/all/lake.svg");
}
.spry {
	position: absolute;
	width: 26px;
	height: 26px;
	top: 0;
	left: 0;
	background-size: 26px 26px;
}
.puddle .spry {
	background-image: url("../svgs/all/mmm.svg");
}
.house .spry {
	background-image: url("../svgs/all/nnn.svg");
}
.puddle[data-state="2"]
{
	background-image: url("../svgs/all/strong-lake.svg");
}
.puddle[data-state="0"]
{
	display: none;
}
